@media (max-width: 1024px) {
    .center{
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .header{
        min-height: 74px;
        padding: 0 32px;
    }
    /* .header_nav{
        justify-content: center;
        
    } */

    .content{
        min-height: auto;
    }

    
    .content_brand{
        padding-left: 39px;
    }
    
    .content_brand_text{
       
		font-size: 44px;
		line-height: 52px;
    }
    .content_brand_subtext{
        font-size: 24px;
		line-height: 28px;
		font-weight: 400;
    }
        
    
    .offer{
        padding-left:16px ;
        padding-right: 16px;
		margin: 65px auto 0;
        gap: 18px;
        justify-content: center;
       
    }

    .offer_item{
        min-height: 167px;
    }
    
    .offer_item_4{
        min-height: 116px;
    }
    .products_tagline_title{
        margin-bottom: 3px;
    }
    
    .products{
        max-width: 768px;
		margin: 110px auto 0;
    }
    .products_tagline{
        margin-top: 109px;
    }
    .products_tagline_text{
        margin-top: 3px;
    }
    .products_catalog{
        margin: 72px auto 0;
        gap: 16px;
		justify-content: center;
    }   

.products_btn{
    margin: 32px auto 70px;
}

.advantages{
    max-height: 610px;
    margin: 64px auto 0;
}
.advantages_list{
    gap: 47px;
    flex-direction: column;
    padding-top: 48px;
		padding-bottom: 64px;
    
   
}
.advantages_list_item{
    margin: 0 auto;
}
.footer_info_feedback{
    flex-direction: column;     
	gap: 48px;
    align-items: center;
    
		
}

.info_feedback_figure{
    padding: 0;
}

.info_form{
   height: 277px;
   padding: 0;
}

.info_form_text{
    margin: 0 auto 27px;
    width: 577px;
}

.footer_links{
    max-height: 79px;
    gap: 305px;
		
}
.footer_links_brand{
    padding: 30px 0 30px 32px;
    max-height: 19px;
}
.footer_links_social{
    padding: 24px 32px 23px 0;
}

}

@media (max-width: 767px){
    .center{
        padding-left: calc(50% - 160px);
        padding-right: calc(50% - 160px);
    }
   

    .visibility{
        display: none;
    }

    .header_left{
        margin-left: 16px;
    }
    .header_right{
        margin-right: 16px;
        max-height: 23px;
    }
    .content{
        min-height: auto;
    }

    .content_img{
        display: none;
    }
    .content_brand{
        width: 100%;
        min-height: 363px;
        margin: 0;
        padding: 0 56px;

    

    }
    .content_brand_name{
        min-height: 66px;
        padding: 0 auto;
    }
    .content_brand_text{
       
		font-size: 38px;
		line-height: 45.6px;
    }

    .content_brand_subtext{
        font-size: 20px;
		line-height: 24px;

    }

    .offer{
        margin: 64px 0 0;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        padding-bottom: 0;
    }
    .offer_item_4{
        max-height: 111px ; 
    }
    .offer_item{
        height: 248px;
        width: 100%;
        padding: 0;
    }
    
    .products{
        margin: 64px 0 0;
        padding: 0 8px;
       
    }
    
             
        
        
       
   
    .products_tagline_text{
        
        text-align: center;

    }
    .products_catalog{
        margin: 64px auto 0;
		gap: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    }
.products_catalog_card{
    
		width: 100%;
}
.products_catalog_img{
    min-height: 418px;
}
.products_catalog_info_text{
    padding: 12px 0 18px;
}

.advantages_list{
    margin: 96px auto 0;
}

.footer_links{
    min-height: 134px;   
    flex-direction: column-reverse;
    gap:0;
    
    

}
.footer_links_social{
    margin-top: 51px;
    padding: 0;
}




}
