.product_description {
    
    background-color: #fff;    
    min-height: 601px;
    &_wrapper {
        border: 1px solid #EAEAEA;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 65px;
        transform: translateY(-65px);

    }
    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_kind {
            color: #F16D7F;
            font-size: 14px;
            font-weight: 300;
        }
        &_divider {
            width: 63px;
            height: 3px;
            background-color: #EF5B70;
            margin-top: 12px;
        }
        &_title {
            color: #4D4D4D;
            font-size: 18px;
            font-weight: 300;
            margin-top: 12px;
        }
        &_info {
            color: #5E5E5E;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            margin-top: 48px;
            width: 555px;
        }
        &_price {
            color: #EF5B70;
            font-size: 24px;
            font-weight: 300;
            margin-top: 32px;
        }       
    }
    &_divider {
        width: 641px;
        height: 2px;
        background-color: #EAEAEA;
        margin-top: 65px;
    }
    &_options {
        display: flex;
        justify-content: center;
        gap: 23px;
        margin-top: 64px;
    }
    &_option {
        color: #6F6E6E;
        font-size: 14px;
        font-weight: 400;
        summary {
            list-style: none;
            &::marker{
                display: none;
            }
            &::after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 11px;
                height: 6px;
                background: url("../icons/product/arrow.svg");
                margin-left: 9px;
            }
        }
        &_item {
            list-style-type: none;
        }
    }

    
    &_btn {
        margin-top: 48px;
        width: 212px;
        height: 48px;
        background: #fff;
        border: 1px solid #FF6A6A;
        color: #F26376;
        font-size: 16px;
        font-weight: 400;
        line-height: 48px;
        position: relative;
        cursor: pointer;
        svg {
            position: absolute;
            top: 12px;
            left: 24px;
        }
    }

}