$backgroundDark:#222222;
%basicFlex{
    display: flex;
}
$backgroundlight:#F1E4E6;
$colorPink:#F16D7F;
$colorDark:#222222;
$colorLight:#FFFFFF;

.catalog{
    margin-bottom: 128px;
}
    
